<div
  class="footer"
  style="position: fixed; left: 0;text-align: center; bottom: 0; width: 100%; background-color: black; color: white;"
>
  <div class="footer">
    <p>&#169; All Right Also Reserved</p>
    <footer class="blockquote-footer">
      <cite title="Source Title">Om</cite>
    </footer>
  </div>
</div>